.input {
  width: 100%;
  padding: var(--btn-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--btn-radius);
  color: var(--font-color);
  background-color: var(--bg-secondary);
  outline: none;
}