.mx-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-lg {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mt-md {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 2rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mb-md {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 2rem;
}