:root {
  --accent-color: 16, 185, 129;
  --accent-color-hover: 5, 150, 105;
  --accent-color-faded: rgba(5, 150, 105, 0.1);

  --accent: #10B981; // Just to see the color only the -accent-color use in the app
  --accent-hover: #059669; // Just to see the color only the -accent-color-hover use in the app

  --font-placeholder: #403D46;
}

[data-theme="dark"] {
  --bg-primary: #0C0C0D;
  --bg-primary-opacity: 12, 12, 13;
  --bg-secondary: #18181B;
  --font-color: #FFFFFF;

  --font-primary: #FFFFFF;
  --font-muted: #66646A;
  --font-inverted: #FFFFFF;

  --border-primary: #2c282e;
  --border-primary-hover: #66646A;
  --border-muted: #1C1822;
}

[data-theme="light"] {
  --bg-primary: #FFFFFF;
  --bg-primary-opacity: 255, 255, 255;
  --bg-secondary: #FAFAFA;
  --font-color: #05010D;

  --font-primary: #111827;
  --font-muted: #6A7280;
  --font-inverted: #FFFFFF;

  --border-primary: #eae7e7;
  --border-primary-hover: #6A7280;
  --border-muted: #eae7e7;
}