:root {
  --accent-color: 16, 185, 129;
  --accent-color-hover: 5, 150, 105;
  --accent-color-faded: rgba(5, 150, 105, 0.1);
}

[data-theme="dark"] {
  --bg-primary: #05010D;
  --bg-secondary: #1F2937;
  --bg-tertiary: #374151;
  --font-color: #FFFFFF;
  --font-color-secondary: #9CA3AF;
  --accent: #10B981;
  --accent-hover: #059669;

  --font-base: #ffffff;
  --font-muted: #66646A;
  --font-placeholder: #403D46;
  --font-inverted: #ffffff;

  --bg-input: #120F19;
  --border-input: #1C1822;
}

[data-theme="light"] {
  --bg-primary: #FFFFFF;
  --bg-secondary: #FAFAFA;
  --bg-tertiary: #FFFFFF;
  --font-color: #05010D;
  --font-color-secondary: #374151;
  --accent: #10B981;
  --accent-hover: #059669;


  --font-base: #111827;
  --font-muted: #6A7280;
  --font-placeholder: #6A7280;
  --font-inverted: #ffffff;

  --bg-input: #ffffff;
  --border-input: #eae7e7;
}